//css
@charset "UTF-8";
@import "variables";
@import "foundation";
@import "normalize";
@import "theme/global";
@import "theme/header";
@import "theme/footer";
@import "layout/header";
@import "layout/footer";


.titlebar {
  padding-bottom: 15px;
  background-color: #57BFEB;
}

.titlebar .title {
  color: #FFFFFF;
  font-weigth:600;
  text-shadow: 5px 4px 0 rgba(0,0,0,0.15);
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}

.top-bar .toggle-topbar.menu-icon a span {
  box-shadow: 0px 10px 0 1px #fff,
  0px 16px 0 1px #fff,
  0px 22px 0px 1px #fff;
}

.l-footer-columns .block {
  padding:50px 0;
}