# Ignore configuration files that may contain sensitive information.
.idea
settings.*.php
settings.php
fonctions.php
logincheck.php
/CAS/certificate.pem
config.php

# Ignore files that may contain personal information
fichiers/*