# Ignore configuration files that may contain sensitive information.
.idea
sqlconf.php
settings.*.php
settings.php
fonctions.php
logincheck.php

# Ignore files that may contain personal information
fichiers/*